.footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 0.9rem;
    background-color: var(--bs-light);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 48px;
    width: 100%;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footerLinksWrap {
    display: flex;
    gap: 20px;
}

.footerLink {
    padding: 4px 7px;
    border-radius: 3px;
    transition: all 0.15s ease;
}

.footerLink {
    color: rgba(0, 0, 0, 0.55);
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
}

.footerLink:hover {
    color: rgba(0, 0, 0, 0.7);
}

.footerIcon {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 767px) {
    .footerLinkName {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 10px !important;
    }
}

@media screen and (max-width: 360px) {
    .footerCopyright {
        display: none;
    }
    .footerContent {
        justify-content: center;
    }
    .footerLinksWrap {
        gap: 30px;
    }
}
